* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color:#1b1b1b;
    color: #8dd64e;
    /* text-align: center; */
    /* background-image: url("https://repository-images.githubusercontent.com/214671270/23f88b80-ed18-11e9-8a21-0a636b193f08"); */
}

#navbar {
    width: 100%;
    display: flex;
    height: 12%;
    align-items: center;
    top: 0%;
   
    /* background-color: #042738; */
    justify-content: right;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: fixed;
    z-index: 2;
    border-bottom:2px solid #8dd64e;
    background-color:#1b1b1b;
}
#navbar>h2{
    margin-right: 40%;
    color: teal;
}
#navbar>img {
    margin-left: 3%;
    /* margin-right: 15%; */
    width: 13%;
    height: 90%;
    border-radius: 5px;
    display: block;
}

#innspan {
    display: flex;
    /* border: 1px solid red; */
    height: 60%;
    align-items: center;
    /* background-color: #042738; */
    /* gap: 10%; */
    width: 35%;
    margin-right: 8%;
    justify-content: space-evenly;
}

#innspan>a {
    font-size: 110%;
    text-decoration: none;
    color: whitesmoke;
    background-color: #1b1b1b;
}

/* --------------------------------home and me----------------------------------- */

#nameandintro {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8dd64e;
    
    background-size: 100%;
}

#nameandintro>div>img {
    height: 280px;
    border-radius: 50%;
    margin: 5% 5% 5% 5%;
}

#nameandintro>#id1 {
    width: 30%;
    height: auto;
    text-align: left;
    margin-left: 8%;
    /* background: transparent; */
}

#nameandintro>div>button{
    width: 30%;
    height: 35px;
    font-size: 95%;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    /* background: transparent; */
}
#nameandintro>div>button>a{
    text-decoration: none;
    color: whitesmoke;
    box-sizing: border-box;
    /* background: transparent; */
}
.sec1 {
    margin-top: 10%;
    /* background: transparent; */
}
/*------------ text animation ------------ */

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

/*------------ text animation ends ------------ */
/* --------------------------------home and me ends----------------------------------- */

/*------------------------------------------project page starts here----------------------------------------*/

#maindiv{
    border-top: 2px solid whitesmoke;
}
#ph1{
    margin-top: 5%;
    color: whitesmoke;
    /* border-bottom: 2px solid grey; */
    display: flex;
    justify-content: center;
    /* padding-bottom: 1.5%; */
}
#p1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 7%;
    /* border: 1px solid yellow; */
    margin: 5% 12% 0px 12%;
    border-bottom: 3px solid grey;
    padding-bottom: 3%;
}

#p1>.p1img{
    height: 300px;
    width: 50%;
    /* border: 1px solid yellow; */
}
#p1>.p1img>img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
#p1>.p1all{
    width: 50%;
    /* border: 3px solid grey; */
}
#p1>.p1all>.project_desc{
    width: 70%;
    margin: 2% 0px 2% 0px;
}
#p1>.p1all>.techstack{
    width: 80%;
    height: 100px;
    /* border: 5px solid grey; */
    margin-bottom: 2%;
    display: flex;
    justify-content: left;
    gap: 5%;
    align-items: center;
}
#p1>.p1all>.button_git{
    height: 40px;
    width: 100px;
    /* border: 2px solid grey; */
    border-radius: 5px;
    margin-right: 5%;
    border: 3px solid grey;
}
#p1>.p1all>.button_deploy{
    height: 40px;
    width: 100px;
    /* border: 2px solid grey; */
    border-radius: 5px;
    border: 3px solid grey;
}
#p1>.p1all>.techstack>img{
    height: 50%;
    width: 10%;
}

/*------------------------------------------project page ends here----------------------------------------*/

/*------------------------------------------skill starts here----------------------------------------*/

#skillsmain{
    /* border: 2px solid teal; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid teal;
}
#skillsmain>h1{
    margin: 3% 0px 3% 0px;
}
#skillsmain>div{
    /* border: 3px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    gap: 5%;
    height: 90%;
    width: 70%;
    
}
#skillsmain>div>img{
    /* border: 1px solid whitesmoke; */
    height: 65%;
    width: 30%;
    margin: auto;
}

/*------------------------------------------skill ends here----------------------------------------*/

/*-------------------------------------------git stats start-------------------------------------------*/

.calendar{
    width: 76%;
    margin-bottom: 5%;
}
.github-stats{
    margin: 5% 0px 5% 0px;
    text-align: center;
    font-size: 250%;
}
.github-stats>span{
    font-size: 100%;
}
#optional{
    margin-top: 5%;
}

/*-------------------------------------------git stats end-------------------------------------------*/

/* ----------------------------------------------contact section start--------------------------------------- */

#contact{
    /* border: 2px solid red; */
    margin-top: 5%;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 2px solid;
}
#contact>div>img{
   
   
    width: 100%;
    height: 100%;

}
#contact>div{
    margin-top: 3%;
    /* border: 2px solid orange; */
    width: 23%;
    height: 25%;
   display: flex;
   justify-content: space-evenly;
   gap: 15%;
}

/* ----------------------------------------------contact section ends--------------------------------------- */


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/*-------------------------------------------- media for medium------------------------------------- */
@media(max-width:1180px) {

*{
    margin: 0px;
    padding: 0px;
}

/*------------------navbar-------------------*/

#navbar {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 10%;
}

#navbar>img {
    margin-left: 3%;
    width: 20%;
    height: 75%;
    border-radius: 5px;
    display: block;
}

#innspan {
   /* border: 1px solid red; */
    width: 47%;
    display: flex;
    justify-content: space-evenly;
}

#innspan>a {
    font-size: 110%;
    text-decoration: none;
    color: gray;
    /* background-color: #1b1b1b; */
}

/*-----------------navbar ends-------------------*/

/*------------------home-------------------*/

#nameandintro>div>img {
    height: 280px;
    border-radius: 50%;
    margin: 5% 5% 5% 5%;

}

#nameandintro>#id1 {

    width: 30%;
    height: auto;
    text-align: left;
    margin-left: 15%;
}

#nameandintro>#id1>p{
    width: 90%;
}
#nameandintro>div>button {
    width: 30%;
    height: 35px;
    font-size: 90%;
    border-radius: 5px;
    border: 2px solid grey;
}
#nameandintro>div>button>a{
    text-decoration: none;
    color: purple;
}
.sec1 {
    margin-top: 20%;
}
#id1{
    padding-top: -12%;
}
/* ------------------home ends-------------- */

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*-------------------------------- media for minimum------------------------------------- */
@media(max-width:667px) {

    /*------------------navbar-------------------*/
    #navbar>img {
        /* margin-left: 3%; */
        width: 20%;
        height: 75%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #innspan {
        display: flex;
        /* border: 1px solid red; */
        height: 60%;
        align-items: center;
        /* background-color: #b6d8f9; */
        /* gap: -9%; */
        width: 60%;
        margin-right: 15%;
        justify-content: space-evenly;
    }
    
    #innspan>a {
        font-size: 70%;
        text-decoration: none;
        color: gray;
        /* background-color: #b6d8f9; */
    }
    /*-----------------navbar ends-------------------*/
    
    /*------------------home-------------------*/
    
    #nameandintro {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    
    }
    #nameandintro>div>img {
        height: 180px;
        border-radius: 50%;
        margin: 20% 5% 5% 5%;
    
    }
    
    #nameandintro>#id1 {
        margin-top: 15%;
        width: 100%;
        height: auto;
        text-align: left;
        margin-left: 5%;
    }
    
    #nameandintro>div>button {
        width: 30%;
        height: 35px;
        font-size: 90%;
        border-radius: 5px;
        border: 2px solid grey;
    }
    #nameandintro>div>button>a{
        text-decoration: none;
        color: purple;
    }
    .sec1 {
        margin-top: 20%;
    }
    
    /* ------------------home ends-------------- */

}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++   THE END   +++++++++++++++++++++++++++++++++++++++++++++++++++++ */